<section class="card">
    <header> <span class="user">{{user.username}} </span> <span class="date">{{format_date createdAt}}</span></header>
   <div class="card-body"> 
        <h3>{{post_title}}</h3>
        <p>{{post_content}}</p>
    </div>
</section>