<form>
  <div class="form-group">
    <label for="blogTitle">Title</label>
    <input type="text" class="form-control" id="blogTitle" placeholder="Example input">
  </div>
  <div class="form-group">
    <label for="blogContent">Content</label>
    <input type="text" class="form-control" id="blogContent" placeholder="Another input">
  </div>
</form>